* {
    margin: 0;
    padding: 0;
    font-family: Roboto Mono;
    text-align: center;
}

.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.get {
    background-color: #FFCD69;
}

h1 {
    font-family: Chelsea Market;
}

#main {
    background-color: #DDB9A3;
}

footer {
    background-color: #F9E7DC;
}

#fire, #fee {
    font-weight: bold;
}

.plan, .learn, .get {
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    color: #ffffff;
    border-radius: 12px;
    width: 115px;
    height: 45px;
}

header {
    display: inline-flex;
    margin-bottom: 5%;
}

header img {
    border-radius: 50%;
    width: 275px;
    height: auto;
}

#guide h1 {
    line-height: 2.6;
    font-size: 40px;
    margin-top: 0;
    word-spacing: 10px;
}

#guide p {
    margin-right: 17%; 
    margin-left: 17%;
}

.p1 {
    margin-bottom: 3%;
}

